{% block nav %}
<nav class="menu navbar navbar-expand-md sticky-top bg-dark" id="navigation">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-left txt-bd ft-bd" id="left-nav">
            <div class="dropdown">
                <li class="nav-item dropdown"><a href="#" class="nav-link fc-white">Shops</a></li>
                <div class="dropdown-content">
                    {% for shop in shops %}
                        <a href="/account/{{ shop.shop_id }}/profile">{{ shop.shop_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <li class="nav-item"><a href="/account/{{ shop_id }}/inventory" class="nav-link fc-white">Inventory</a></li>
            <li class="nav-item"><a href="/account/{{ shop_id }}/orders" class="nav-link fc-white">Orders</a></li>
            <li class="nav-item"><a href="/account/{{ shop_id }}/feedbacks" class="nav-link fc-white">FeedBacks</a></li>
            <div class="dropdown">
                <li class="nav-item"><a href="/self/profile" class="nav-link fc-white">Create</a></li>
                <div class="dropdown-content">
                    <a href="/account/add_drug">Add Drug</a>
                    <a href="/account/{{ shop_id }}/add_drug_batch">Add Drug Batch</a>
                </div>
            </div>
        </ul>
    </div>
</nav>
{% endblock %}