{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Order Details </h2>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h3 class="ft-lt"> Order Info : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <td> Order ID </td>
                <td> {{ order.order_id }}</td>
            </tr>
            <tr>
                <td> Order Status </td>
                <td> {{ order.order_status }}</td>
            </tr>
            <tr>
                <td> Order Date </td>
                <td> {{ order.order_date}} </td>
            </tr>
            <tr>
                <td> Order Time </td>
                <td> {{ order.order_time }}</td>
            </tr>
            <tr>
                <td> Bill Amount </td>
                <td> {{ order.bill_amount }} </td>
            </tr>
        </table>

        <h3 class="ft-lt"> Items Ordered : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Batch ID </th>
                <th> Quantity </th>
                <th> Price </th>
            </tr>
            {% for row in order.items %}
            <tr>
                <td> {{ row.batch_id }}</td>
                <td> {{ row.quantity }}</td>
                <td> {{ row.price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3 class="ft-lt"> Reviews : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Comment </th>
                <th> Rating </th>
                <th> Action </th>
            </tr>
            {% for row in reviews %}
            <tr>
                <td> {{ row.comment }}</td>
                <td> {{ row.rating }}</td>
                <td><a
                        href="/self/order/{{order.order_id}}/review/{{row.review_id}}/delete">
                    <span class="detail-button-lg fc-white txt-sb">Delete Review</span>
                </a></td>
            </tr>
            {% endfor %}
        </table>
    </section>

    {% if reviews is null %}
    <a href="/self/order/{{ order.order_id }}/add_review"><span class="detail-button fc-white txt-sb">Add Review</span></a>
    {% endif %}

    {% if order.order_status != "cancelled" %}
        <a href="/self/order/{{ order.order_id }}/mark/cancel"> <span class="detail-button-lg fc-white txt-sb">Cancel Order</span></a>
        {% if order.order_status != "delivered" %}
    <a href="/self/order/{{ order.order_id }}/mark/delivered"> <span class="detail-button-lg fc-white txt-sb">Mark Delivered </span></a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}