{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Shop Profile </h2>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="sec_title ft-rw">{{ shop.shop_name }}</h2>
        <table>
            <tr class="table-head ft-rw">
                <th> Key </th>
                <th> Value </th>
            </tr>
            <tr>
                <td> Name </td>
                <td> {{ shop.shop_name }}</td>
            </tr>
            <tr>
                <td> Email ID </td>
                <td> {{ shop.email_id }}</td>
            </tr>
            <tr>
                <td> License No. </td>
                <td> {{ shop.license }}</td>
            </tr>
        </table>

        <h3 class="sec_title ft-rw"> Address Details : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Key </th>
                <th> Value </th>
            </tr>
            <tr>
                <td> Plot No.</td>
                <td>{{ address.plot_no }}</td>
            </tr>
            <tr>
                <td>Street </td>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <td>District</td>
                <td>{{ address.district }}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{ address.state }}</td>
            </tr>
        </table>

        <h3 class="sec_title ft-rw"> Phone Nos : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Sl. No. </th>
                <th> Phone No. </th>
            </tr>
            {% for row in phones %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.phone_no }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <a href="/account/{{ shop.shop_id }}/add_phone"><span class="detail-button fc-white txt-sb"> Add Phone </span></a>
</div>
{% endblock %}