{% extends 'base.twig' %}

{% block header %}
{% include 'shopNav.twig' %}
{% endblock%}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h1 class="ft-rw"> Account Orders </h1>
    </div>
</header>

<div class="wrapper-table">
        <section>
            <table>
                <tr class="table-head ft-rw">
                    <th> Sl. No. </th>
                    <th> Order ID </th>
                    <th> Order Date </th>
                    <th> Order Status </th>
                    <th> Bill Amount </th>
                    <th> Link </th>
                    <th> Actions </th>
                </tr>
                {% for row in orders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.order_id }}</td>
                    <td> {{ row.order_date }}</td>
                    <td> {{ row.status }}</td>
                    <td> {{ row.bill_amount }}</td>
                    <td> <a href="/account/{{ shop_id }}/order/{{ row.order_id }}"><span class="detail-button fc-white txt-sb"> View Order</span></a></td>
                    <td>
                        {% if row.status == "ordered" %}
                        <a href="/account/{{ shop_id }}/order/{{ row.order_id }}/mark/processing"><span class="detail-button-lg fc-white txt-sb">Mark Processing</span></a>
                        {% endif %}
                        <br>
                        {% if row.status == "ordering" %}
                        <a href="/account/{{ shop_id }}/order/{{ row.order_id }}/mark/cancel"><span class="detail-button-lg fc-white txt-sb">Mark Cancel</span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
</div>

<script>
</script>
{% endblock %}

