{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Shop Inventory </h2>
    </div>
</header>

<div class="wrapper">
    <section>
        <h2 class="sec_title ft-rw">List of All Items in Shop</h2>
        <table>
            <tr>
                <th> Drug Name </th>
                <th> Manufacturer Name </th>
                <th> Price </th>
                <th> Exp Date </th>
                <th> Quantity </th>
            </tr>
            {% for row in items %}
            <tr>
                <td> {{ row.drugBatch.drug.name }}</td>
                <td> {{ row.drugBatch.drug.mf_name }}</td>
                <td> {{ row.price }}</td>
                <td> {{ row.drugBatch.exp_date }}</td>
                <td> {{ row.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}