{% extends 'base.twig' %}

{% block content %}
<header>
    <div class="bg-image">
        <!-- Fix form -->
        <h3 class="ft-rw">Medicines</h3>
        <h4 class="ft-rw">Search the medicine here</h4>
        <br>
        <form action="/drugs" method="get" id="search">
            <p>
                <input type="text" name="name" id="name_box">
                <input type="submit" name="info" value="Find">
                <br>
            </p>
        </form>
        <!-- Fix form -->
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="table-title ft-rw">{{ drug.name }}</h2>
        <table>
            <tr class="table-head ft-rw">
                <th> Key </th>
                <th> Value </th>
            </tr>
            <tr>
                <td> Name </td>
                <td> {{ drug.name }}</td>
            </tr>
            <tr>
                <td> Manufacturer Name </td>
                <td> {{ drug.mf_name }}</td>
            </tr>
            <tr>
                <td> Is Generic ? </td>
                <td> {{ drug.is_generic }}</td>
            </tr>
            <tr>
                <td> Generic Name </td>
                <td><a href="/drug/{{ row.drug_id }}"><span class="detail-button fc-white txt-sb"> {{ gen.name }} </span></a></td>
            </tr>
        </table>
    </section>
</div>
{% endblock %}