{% extends 'base.twig' %}

{% block content %}
<header>
    <div class="bg-image">
        <h3 class="ft-rw">Marketplace</h3>
        <h4 class="ft-rw">Search the shops here</h4>
        <br>
        <form action="/shops" method="get" id="search">
            <p>
                <input type="text" name="name" id="name_box">
                <input type="submit" name="info" value="Find">
                <br>
            </p>
        </form>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h2 class="table-title ft-rw">{{ shop.shop_name }}</h2>
        <table>
            <tr class="table-head ft-rw">
                <th> Key </th>
                <th> Value </th>
            </tr>
            <tr>
                <td> Name </td>
                <td> {{ shop.shop_name }}</td>
            </tr>
            <tr>
                <td> Email ID </td>
                <td> {{ shop.email_id }}</td>
            </tr>
            <tr>
                <td> License No. </td>
                <td> {{ shop.license }}</td>
            </tr>
        </table>

        <h3 class="table-title ft-rw"> Address Details : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Key </th>
                <th> Value </th>
            </tr>
            <tr>
                <td> Plot No.</td>
                <td>{{ address.plot_no }}</td>
            </tr>
            <tr>
                <td>Street </td>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <td>District</td>
                <td>{{ address.district }}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{ address.state }}</td>
            </tr>
        </table>
    </section>

    <a href="/self/shop/{{shop_id}}/place_order"><span class="detail-button-lg fc-white txt-sb"> Order @ Shop</span> </a>
    <a href="/shop/{{ shop_id}}/inventory"> <span class="detail-button-lg fc-white txt-sb"> Check Items</span> </a>
</div>
{% endblock %}