{% extends 'base.twig' %}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw">Your Orders</h2>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <table>
            <tr class="table-head ft-rw">
                <th> Sl. No. </th>
                <th> Order ID </th>
                <th> Order Date </th>
                <th> Order Status </th>
                <th> Bill Amount </th>
                <th> Link </th>
            </tr>
            {% for row in orders %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ row.order_id }}</td>
                <td> {{ row.order_date }}</td>
                <td> {{ row.order_status }}</td>
                <td> {{ row.bill_amount }}</td>
                <td><a href="/self/order/{{ row.order_id }}"><span class="detail-button-lg fc-white txt-sb"> View Order </span></a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}