{% extends 'base.twig' %}

{% block header %}
{% include 'shopNav.twig' %}
{% endblock%}

{% block content %}
<header class="gen_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Order Details </h2>
    </div>
</header>

<div class="wrapper-table">
    <section>
        <h3 class="ft-lt"> Order Info : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <td> Order ID </td>
                <td> {{ order.order_id }}</td>
            </tr>
            <tr>
                <td> Order Status </td>
                <td> {{ order.order_status }}</td>
            </tr>
            <tr>
                <td> Order Date </td>
                <td> {{ order.order_date}} </td>
            </tr>
            <tr>
                <td> Order Time </td>
                <td> {{ order.order_time }}</td>
            </tr>
            <tr>
                <td> Bill Amount </td>
                <td> {{ order.bill_amount }} </td>
            </tr>
        </table>

        <h3 class="ft-lt"> Items Ordered : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Batch ID </th>
                <th> Quantity </th>
                <th> Price </th>
            </tr>
            {% for row in order.items %}
            <tr>
                <td> {{ row.batch_id }}</td>
                <td> {{ row.quantity }}</td>
                <td> {{ row.price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3 class="ft-lt"> Reviews : </h3>
        <table>
            <tr class="table-head ft-rw">
                <th> Comment </th>
                <th> Rating </th>
            </tr>
            {% for row in reviews %}
            <tr>
                <td> {{ row.comment }}</td>
                <td> {{ row.rating }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}